/* glue: {{ version }} hash: {{ hash }} */
{% for r, ratio in ratios.items() %}
@media screen and (-webkit-min-device-pixel-ratio: {{ ratio.ratio }}), screen and (min--moz-device-pixel-ratio: {{ ratio.ratio }}), screen and (-o-min-device-pixel-ratio: {{ ratio.fraction }}), screen and (min-device-pixel-ratio: {{ ratio.ratio }}), screen and (min-resolution: {{ ratio.ratio }}dppx) {
  img.emoji {  /* {{ ratio.sprite_path }} */
    --sprite-width: {{ width }};
    --sprite-height: {{ height }};
    --sprite-render-width: 1.2em;
    --sprite-render-height: 1.2em;
    --sprite-emoji-background-size-x: calc(var(--sprite-width) * 1px);
    --sprite-emoji-background-size-y: calc(var(--sprite-height) * 1px);
    width: var(--sprite-emoji-background-size-x);
    height: var(--sprite-emoji-background-size-y);
    display: inline-block;
    position: relative;
  }
  i.emoji {
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.15em;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
  }
}
{% endfor %}{% for image in images %}
img.{{ image.label }}{{ image.pseudo }} {
  --sprite-emoji-background-position-x: {{ image.x }};
  --sprite-emoji-background-position-y: {{ image.y }};
  --sprite-emoji-background-size-x: calc(var(--sprite-render-width) * (var(--sprite-width) / {{ image.width }}));
  --sprite-emoji-background-size-y: calc(var(--sprite-render-height) * (var(--sprite-height) / {{ image.height }}));
  left: calc((var(--sprite-emoji-background-position-x) / var(--sprite-width)) * var(--sprite-render-width) * (var(--sprite-width) / {{ image.width }}));
  top: calc((var(--sprite-emoji-background-position-y) / var(--sprite-height)) * var(--sprite-render-height) * (var(--sprite-height) / {{ image.height }}));
}
{% endfor %}
